<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #232624 !important;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="nav-link1" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-link2" href="/login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-link3" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-link4" href="/About">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card card-about" id="about-card" style="width:1000px;">
        <div class="card-body">
            <h1>Founders</h1>
            <div class="row">
                <div class="col-lg-6">
                    {{!-- TJ Elder --}}
                    <img src="/assets/images/TJ.jpg" style="width: 200px; height: 200px;">
                    <p style="font-weight: bolder;">TJ Elder<a href=https://github.com/telder55>
                            <br> Github</a></p>
                    <p style="font-weight: bolder;">TJ's top 3 breweries:</p>
                    <p><a href="https://www.knottedrootbrewing.com/" class="btn" target="_blank"
                            id="brewery-link">Knotted Root Brewing Company</a></p>
                    <p><a href="https://www.outerrange.com/" class="btn" target="_blank" id="brewery-link">Outer Range
                            Brewing Company </a></p>
                    <p><a href="https://www.plattparkbrewing.com/" class="btn" target="_blank" id="brewery-link">Platt
                            Park Brewing Company</a></p>
                    {{!-- Mitch Flood --}}
                    <img src="/assets/images/Mitch.jpg" style="width: 200px; height: 200px;">
                    <p style="font-weight: bolder;">Mitch Flood<a href=https://github.com/paxton44>
                            <br> Github</a></p>
                    <p style="font-weight: bolder;">Mitch's top 3 breweries:</p>
                    <p><a href="https://blackskybrewing.com/index.html" class="btn" target="_blank"
                            id="brewery-link">Black Sky Brewing </a></p>
                    <p><a href="https://renegadebrewing.com/" class="btn" target="_blank" id="brewery-link">Renegade
                            Brewing Company </a></p>
                    <p><a href="https://www.trvebrewing.com/" class="btn" target="_blank" id="brewery-link">TRVE Brewing
                            Company Taproom </a></p>
                </div>

                <div class="col-lg-6">
                    {{!-- Wylie Urig --}}
                    <img src="/assets/images/Wylie.jpg" style="width: 200px; height: 200px;">
                    <p style="font-weight: bolder;">Wylie Urig<a href=https://github.com/wylie-u>
                            <br> Github</a></p>
                    <p style="font-weight: bolder;">Wylie's top 3 breweries:</p>
                    <p><a href="https://www.averybrewing.com/" class="btn" target="_blank" id="brewery-link">Avery
                            Brewing Company </a></p>
                    <p><a href="https://tivolibrewingco.com/" class="btn" target="_blank" id="brewery-link">Tivoli
                            Brewing Company</a></p>
                    <p><a href="https://wynkoop.com/" class="btn" target="_blank" id="brewery-link">Wynkoop Brewing
                            Company</a></p>
                    {{!-- Taylor Wright --}}
                    <img src="/assets/images/Taylor.jpg" style="width: 200px; height: 200px;">
                    <p style="font-weight: bolder;">Taylor Wright<a href=https://github.com/tjwri25>
                            <br> Github</a></p>
                    <p style="font-weight: bolder;">Taylor's top 3 breweries:</p>
                    <p><a href="https://www.105westbrewing.com/" class="btn" target="_blank" id="brewery-link">105 West
                            Brewing Companyy</a></p>
                    <p><a href="https://burlybrewing.com/" class="btn" target="_blank" id="brewery-link">Burly Brewing
                            Company</a></p>
                    <p><a href="https://www.cheluna.com/" class="btn" target="_blank" id="brewery-link">Cheluna Brewing
                            Company</a></p>
                </div>
            </div>
        </div>
    </div>
</div>