<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>


<head>

    <title>BeerNuts</title>

</head>


<body>
    <div class="jumbotron jumbotron-fluid" style="background-color: #232624;">
        <div class="container">
            <div class="row">
    
    
                <div class="col-lg-2" id="navLink1">
                    <a class="nav-link" href="/">Home</a>
                </div>
                <div class="col-lg-2" id="navLink2">
                    <a class="nav-link" href="/login">Log in</a>
                </div>
                <div class="col-lg-2">
    
                </div>
                <div class="col-lg-2">
    
                </div>
                <div class="col-lg-2" id="navLink3">
                    <a class="nav-link" href="/about">About</a>
                </div>
            </div>
    
    
    
        </div>
    </div>
    <div class="container">
        <div class="card card-about" id="about-card" style="width:1000px;">
            <div class="card-body">
                <h1>Founders</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/assets/images/Mitch.jpg" style="width: 300px; height: 300px;">
                        <p style="font-weight: bolder;">Mitch Flood<a href=https://github.com/paxton44>
                                <br> Github</a></p>
                        <img src="/assets/images/TJ.jpg" style="width: 300px; height: 300px;">
                        <p style="font-weight: bolder;">TJ Elder<a href=https://github.com/telder55>
                                <br> Github</a></p>

                    </div>

                    <div class="col-lg-6">
                        <img src="/assets/images/Wylie.jpg" style="width: 300px; height: 300px;">
                        <p style="font-weight: bolder;">Wylie Urig<a href=https://github.com/wylie-u>
                                <br> Github</a></p>
                        <img src="/assets/images/Taylor.jpg" style="width: 300px; height: 300px;">
                        <p style="font-weight: bolder;">Taylor Wright<a href=https://github.com/tjwri25>
                                <br> Github</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>