
<body>
    <div class="jumbotron jumbotron-fluid" style="background-color: #232624;">
        <div class="container">
            <div class="row">


                <div class="col-lg-2" id="navLink1">
                    <a class="nav-link" href="/">Home</a>
                </div>
                <div class="col-lg-2" id="navLink2">
                    <a class="nav-link" href="/login">Log in</a>
                </div>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-2" id="navLink3">
                    <a class="nav-link" href="/about">About</a>
                </div>
            </div>



        </div>
    </div>


    <div class="container">
        <h1>
            Colorado has 428 breweries, and growing. Find your spot.
            Search by city, or search by name of brewery.
        </h1>
        <br>


        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

        </form>
        <br>
        <button type="button" class="btn btn-dark" id="city-search-button" type="submit">Search by city</button>
        <button type="button" class="btn btn-dark" id="name-search-button" type="submit">Search brewery name</button>







    </div>

</body>