
<head>

    <title>BeerNuts</title>

</head>


<body>
    
<div class="jumbotron jumbotron-fluid" style="background-color: #232624;">
    <div class="container">
        <div class="row">


            <div class="col-lg-2" id="navLink1">
                <a class="nav-link" href="/">Home</a>
            </div>
            <div class="col-lg-2" id="navLink2">
                <a class="nav-link" href="/login">Log in</a>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2" id="navLink3">
                <a class="nav-link" href="/about">About</a>
            </div>
        </div>



    </div>
</div>

    <div class="container">
        <div class="card card-login" style="width: 600px; text-align: center;">
            <div class="card-body">
                <h5 class="card-title">Log In</h5>
                <h6 class="card-subtitle mb-2 text-muted">Log in to access your list</h6>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="login-password">
                    </div>
                    
                        <p>Don't have an account? Sign up<a class="signup" href="/signup"> here</a></p>
                        
                    </div>
                    <button type="submit" id="login-sub-button" class="btn btn-dark">Submit</button>
                </form>

            </div>
        </div>
    </div>

</body>

