<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #232624 !important;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="nav-link1" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout" id="nav-link2" href="/logout">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-link3" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-link4" href="/About">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card card-about" id="" style="">
        <div class="card-body">
            <h5 class="card-title">Welcome Back My Dude!</h5>
            <h6 class="card-subtitle mb-2 text-muted">View your favorites list below!</h6>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Brewery</th>
                            <th>City</th>
                            <th>Phone</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{!data.name}}<a href="{{!https://${data.website}}https://www.averybrewing.com/"
                                    class="btn" target="_blank" id="brewery-link">Avery Brewing Company </a></td>
                            <td>{{!${data.city_name}}Boulder</td>
                            <td>{{!${data.phone_number}}303-440-4324</td>
                            <td>
                                <a class="btn btn-dark" href="#" role="button">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{!data.name}} <a href="{{!https://${data.website}}https://www.trvebrewing.com/"
                                    class="btn" target="_blank" id="brewery-link">TRVE Brewing Company Taproom </a>
                            </td>
                            <td>{{!${data.city_name}}Denver</td>
                            <td>{{!${data.phone_number}}303-351-1021</td>
                            <td>
                                <a class="btn btn-dark" href="#" role="button">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{!data.name}}<a
                                    href="{{!https://${data.website}}https://blackskybrewing.com/index.html" class="btn"
                                    target="_blank" id="brewery-link">Black Sky Brewery </a></td>
                            <td>{{!${data.city_name}}Denver</td>
                            <td>{{!${data.phone_number}}720-708-5816</td>
                            <td>
                                <a class="btn btn-dark" href="#" role="button">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/assets/js/logout.js"></script>
</div>