.navbar {
  background-image: url(/assets/images/BeerNuts.png);
  background-color: #232624;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  height: 250px;
}

a:hover {
  color: rgba(255, 217, 0, 0.815) !important;
}

body {
  background-image: url(/assets/images/taps2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0px;
}

.navbar-nav {
  font-family: 'Russo One';
  font-size: 22px;
}

#nav-link1 {
  margin-top: 45px;
  margin-left: 300px;
  color: whitesmoke;
}

#nav-link2 {
  margin-top: 45px;
  margin-left: 100px;
  color: whitesmoke;
}
#nav-link3 {
  margin-top: 45px;
  margin-left: 430px;
  color: whitesmoke;
}

#nav-link4 {
  margin-top: 45px;
  margin-left: 100px;
  color: whitesmoke;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: whitesmoke;
  text-shadow: 3px 3px black;
}

.form-inline {
  width: 600px !important;
  margin-left: 345px;
  margin-top: 20px !important;
}

.form-control {
  width: 600px !important;
}

#city-search-button {
  width: 180px;
  margin-left: 450px;
  margin-top: 10px;
}

#name-search-button {
  width: 180px !important;
  margin-left: 10px;
  margin-top: 10px;
}

#signup-email {
  width: 400px !important;
  margin-left: 80px;
}

#signup-password {
  width: 400px !important;
  margin-left: 80px;
}

#signup-name {
  width: 400px !important;
  margin-left: 80px;
}

#login-password {
  width: 400px !important;
  margin-left: 80px;
}
#login-email {
  width: 400px !important;
  margin-left: 80px;
}
.card-about {
  margin-top: 20px;
  margin-left: 80px;
  text-align: center;
}
.card-login {
  margin-top: 20px;
  margin-left: 260px;
  padding-bottom: 20px;
}
.card-signup {
  margin-top: 20px;
  margin-left: 260px;
  padding-bottom: 20px;
}

#login-sub-button {
  width: 100px !important;

}

#signup-sub-button {
  width: 100px !important;
}

img {
  border-radius: 50%;
}

.hero {
  margin-bottom: 10em;
}

.brewery-info {
  background-color: rgba(255, 255, 255, 0.349);
  border: 2px;
  border-radius: 1em;
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 20em;
  height: 40em;
  /* height: max-content; */
}

.brewery-button {
  margin: 0.5em !important;
}

.btn-div {
  width: 14em !important;
  height: auto;
  padding: 1em;
  float: left;
}

.buttons-area {
  /* background-color: #ffffff; */
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

@media only screen and (max-width: 990px) {
  #nav-link1 {
    margin-left: 0;
    margin-top: 0;
  }
  #nav-link2 {
    margin-left: 0;
    margin-top: 0;
  }
  #nav-link3 {
    margin-left: 0;
    margin-top: 0;
  }
  #nav-link4 {
    margin-left: 0;
    margin-top: 0;
  }
  .form-inline {
    width: 300px;
    margin-left: 0;
  }

  .form-control {
    width: 300px !important;
  }

  h1 {
    padding-top: 100px;
  }
  .card-login {
    margin-left: 0;
    width: 320px !important;
  }
  #login-email {
    width: 275px !important;
    margin-left: 5px;
  }
  #login-password {
    width: 275px !important;
    margin-left: 5px;
  }
  #login-sub-button {
    margin-left: 0px;
  }

  .card-signup {
    margin-left: 0;
    width: 320px !important;
  }
  #signup-name {
    width: 275px !important;
    margin-left: 5px;
  }
  #signup-email {
    width: 275px !important;
    margin-left: 5px;
  }
  #signup-password {
    width: 275px !important;
    margin-left: 5px;
  }
  #signup-sub-button {
    margin-left: 0px;
  }
  .addBreweryText {
    margin-left: 0px !important;
  }
  /* .card-submission {
    margin-left: 0 !important;
    width: 290px !important;
  } */
  .card-addBrewery {
    margin-left: 0;
    width: 320px !important;
  }
}



.card-text li {
  list-style-type: none;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  max-height: 450px;
  overflow: auto;
  width: 400px;
  display: contents;
}

.addBreweryText {
  text-align: center;
  margin-top: 100px;
  margin-left: 300px;
  font-size: 30px;
  font-weight: bolder;
  color: black;
}

h2 {
  font-weight: bolder !important;
  color: black;
}

#city_name {
  width: 400px !important;
  margin-left: 80px;
}
#location {
  width: 400px !important;
  margin-left: 80px;
}
#name {
  width: 400px !important;
  margin-left: 80px;
}

#phone_number {
  width: 400px !important;
  margin-left: 80px;
}

#website {
  width: 400px !important;
  margin-left: 80px;
}

#addBrewery {
  height: 800px !important;
}
.card-addBrewery {
  width: 600px !important;
  margin-top: -250px !important;
  margin-left: 260px !important;
  margin-bottom: 50px !important;
  z-index: 999;
  
}

#submitNewBrewery {
  margin-top: 20px;
}

.card-submission {
  font-size: 30px;
  text-align: center;
  width: 500px;
  margin-left: 310px;
  margin-top: 40px;
  z-index: 1;
}
