.jumbotron {
    background-image: url(/assets/images/BeerNuts.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    height: 250px;
 
}

body {
    
    background-image: url(/assets/images/taps2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-right:0px;
}


.nav-link {
    color: whitesmoke;
    font-family: 'Russo One';font-size: 22px;
}

#navLink1 {
    margin-top: 45px;
    margin-left: 0px; 
} 

#navLink2 { 
     margin-top: 45px;
     
 } 
 #navLink3 { 
     margin-top: 45px;
    margin-left: 40px 

 } 

h1 {
    text-align: center;
    color:black;
}

.form-inline {
    width: 600px;
    margin-left: 250px;
}

.form-control {
    width: 600px !important;
}

#city-search-button {
    width: 180px;
    margin-left: 350px;
   
}

#signup-email {
    width: 400px !important;
    margin-left: 80px;
}

#signup-password {
    width: 400px !important;
    margin-left: 80px;
}


#login-password {
    width: 400px !important;
    margin-left: 80px;
}
#login-email {
    width: 400px !important;
    margin-left: 80px;
}
.card-about {
  margin-left: 80px;
    text-align: center;

}
.card-login {
    margin-left: 260px;
    padding-bottom: 20px;
}
.card-signup {
    margin-left: 260px;
    padding-bottom: 20px; 
}

#login-sub-button {
    width: 100px !important;
    margin-left: 250px;
}

#signup-sub-button {
    width: 100px !important;
    margin-left: 250px;
}

img {
    border-radius: 50%;
  }